header {
Font-size: 35pt;
color : white
}
p { 
    font-size: 2pt;
}

h1 {
    color: white;
}


body {background-color: black;}

body {
    color: white;
  }
div.AR {
    width : 40%;
    display : block;
    float: middle;
    margin: 10px;
    border: 5px rgb(122, 122, 122);
    padding: 10px;
    font-size: 17pt;
}
div.p1 {
    width : 40%;
    color : whitesmoke
    display : right;
    float: left;
    margin: 10px;
    border: 1px rgb(122, 122, 122);
    font-size: 17pt;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
div.a1 {
    width : 60%;
    Font-size : 40pt;
    color : grey
    display : right;
    float: right;
    margin: 10px;
    padding: 10px;
}
div.p2 {
    width : 100%;
    color : whitesmoke
    display : right;
    float: left;
    margin: 10px;
    padding: 10px;
    Color : grey
}
